<div id="new-message" style="clear: both; margin: 0 10px; padding: 5px 0">
    <!-- ko if: getCartItemsAmount() -->
    <p>
        <!-- ko if: isAmountReached() -->
        <span>Super, kup jeszcze <strong data-bind="text: getDiffBetweenAmount()"></strong> produktów, a będziesz miał <strong data-bind="text: amount"></strong> w koszyku!</span>
        <!-- /ko -->

        <!-- ko ifnot: isAmountReached() -->
        <span>Super, masz już <strong data-bind="text: amount"></strong> produktów w koszyku!</span>
        <!-- /ko -->
    </p>
    <!-- /ko -->
</div>
